<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Formulários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item>
      <ion-label position="fixed">Nickname</ion-label>
      <ion-input type="text" [formControl]="nickname"></ion-input>
    </ion-item>

    <ion-button color="primary" (click)="randomName()">Nome aleatório</ion-button>
  </form>

  <form [formGroup]="profileForm">
    <ion-item>
      <ion-label position="fixed">Nome</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Sobrenome</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
  </form>

  <form [formGroup]="contactForm">
    <ion-item>
      <ion-label position="fixed">Endereço</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Estado</ion-label>
      <ion-input type="text" formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Telefone</ion-label>
      <ion-input type="text" formControlName="state"></ion-input>
    </ion-item>

    <ion-button color="primary" (click)="updateAdressInfo()">Patch update</ion-button>
  </form>

</ion-content>
