<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Validação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="profileGroup">

    <ion-item>
      <ion-label position="fixed">Nome</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
      <ion-label class="error-label" *ngIf="profileGroup.controls['name'].errors?.required  && profileGroup.controls['name'].dirty">Nome obrigatório</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
      <ion-label class="error-label" *ngIf="profileGroup.controls['email'].errors?.required  && profileGroup.controls['email'].dirty">Email obrigatório</ion-label>
      <ion-label class="error-label" *ngIf="profileGroup.controls['email'].errors?.email  && profileGroup.controls['email'].dirty">Formato de email inválido</ion-label>
    </ion-item>

    {{ profileGroup.controls['email'].errors | json }}

    <ion-item>
      <ion-label position="fixed">Idade</ion-label>
      <ion-input type="text" formControlName="age"></ion-input>
      <ion-label class="error-label" *ngIf="profileGroup.controls['age'].errors?.validAge && profileGroup.controls['age'].dirty">Idade precisa ser maior que 18 e menor que 25</ion-label>
    </ion-item>

    <div formGroupName="address">
      <ion-item>
        <ion-label position="fixed">Rua</ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Cidade</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Estado</ion-label>
        <ion-input type="text" formControlName="state"></ion-input>
      </ion-item>
    </div>
  </form>

  <ion-button id="submit-btn" color="primary" [disabled]="!profileGroup.valid">Prosseguir</ion-button>

  <p>
    Form Status: {{ profileGroup.status }}
  </p>

</ion-content>
